@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('font.eot'); /* For IE6-8 */
  src:
    local('Material Icons'),
    local('MaterialIcons-Regular'),
    url('font.woff2') format('woff2'),
    url('font.woff') format('woff'),
    url('font.ttf') format('truetype');
}

.material-icons {
  display: inline-block;
  direction: ltr;
  font-family: 'Material Icons';

  /* Support for IE. */
  font-feature-settings: 'liga';

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1;

  /* Support for Safari and Chrome. */
  text-rendering: optimizelegibility;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
}
