body {
  background: #e3e2e2 !important;
  font-family: Cabin !important;
}

.header,
header {
  background: #141519 !important;
}

.logo,
logo {
  top: 5px !important;
  display: inline-block;
  width: 176px !important;
  height: 42px !important;
  padding: 0 0 9px 120px !important;
  border-radius: 0 !important;
  background: url('../logotype.png') no-repeat no-repeat 1px 4px !important;

  /* background-size: auto !important; */

  /* background-size: 120px !important; */
  background-size: 175px !important;
  color: #333 !important;
  line-height: 41px !important;
}

header nav ul li p {
  color: #fff !important;
}

::selection {
  background: #0052ff !important;
  color: #fff !important;
}

.h1,
h1 {
  color: #0052ff !important;
}

.navmenu {
  color: #00964a !important;
}

.navmenu ul > li:hover {
  background: #00964a !important;
}

ul.tabs {
  border-bottom: 1px solid #00964a;
}

ul.tabs li a:active {
  border-bottom: 4px solid #00964a80;
  color: #00964a80;
}

ul.tabs li.current a {
  border-bottom: 4px solid #00964a;
  color: #00964a;
}

button.color {
  padding: 10px;
  background: #00964a;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}

button.color:hover {
  background: #fff;
  color: #00964a;
}

.btn-primary {
  background-color: #00964a !important;
}

.footer,
footer {
  background: #0052ff;
  color: #fff;
}

@media (width <= 8in) {
  .logo,
  logo {
    padding: 0 0 9px 42px;
    background-size: 32px;
    font-size: 25px;
    line-height: 35px;
  }
}

.gametitle {
  position: relative;
  top: -14px;
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
}

.badge {
  display: inherit;
  padding: 4px;
  border-radius: 2px;
  border-right: 1px solid #fff;
  background: #0052ff;
  color: #fff;
}

.navbutton {
  position: relative;
  top: 0;
  display: inline-block;
  width: 142px;
  height: 137px;
  margin-top: 10px;
  margin-left: 5px;
  float: left;
  text-align: center;
  transition: ease-in 0.1s;
}

.navbutton:hover {
  top: -20px;
}

.navbutton:active {
  top: 20px;
  transition: none;
}

.navbutton div {
  width: 140px;
  height: 140px;
  border: 1px solid rgb(0 0 0 / 0.5);
  border-radius: 10px;
  color: #fff;
}

.navbutton div span {
  position: relative;
  top: 118px;
  font-size: 24px;
}
